a{
color:#000000;
font-wight:bold;
}

div.db{
background-color:#567234;
padding: 5px;
height:120px;
}

div.bl{
max-width:960px;
background-color:#00aaff;
margin: 10px auto 10px;
padding:10px;
}

img.fi{
float:left;
margin:10px;
width:100px;
height:100px;
}

td.dl1{
background-color:#234234;
}
td.dl2{
background-color:#878234;
}